* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.container-calendario {
  width: 100%;
  height: 100vh;
  color:  rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Quicksand", sans-serif;
 
}

.calendario {
  width: 520px;
  height: 632px;
  background-color: white;
  box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.4);
  
}

.mes {
  width: 100%;
  height: 100px;
  background-color: #3a9835;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 32px;
  text-align: center;
  text-shadow: 0 4.8px 8px rgba(0, 0, 0, 0.5);
}

.mes i {
  font-size: 10px;
  cursor: pointer;
}

.mes h1 {
  font-size: 28px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 3.2px;
  margin-bottom: 16px;
}

.mes p {
  font-size: 15.6px;
}

.semanas {
  width: 100%;
  height: 60px;
  padding: 0 6.4px;
  display: flex;
  align-items: center;
}

.semanas div {
  color: black;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1.6px;
  width: calc(707.2px / 7);
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0.3rem 0.5rem rgba(231, 178, 54, 0.5);
  transition: background-color 0.2s;
}

.dias {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 3.2px;
  color: black;
}

.dias div {
  
  font-size: 16px;
  margin: 4.8px;
  width: calc(443.2px / 7);
  height: 69px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s;
}

.dias div:hover:not(.hoje) {
  
  border: 3.2px solid #777;
  cursor: pointer;
}

.prev-date,
.next-date {
  opacity: 0.5;
}

.hoje {
  background-color: #3a9835;
}



.dias div:hover:not(.feriado) {
  background-color: white;
 
  cursor: pointer;
}
.feriado {
  background-color: rgba(255, 0, 0, 0.37);
}