
main{
    margin: 80px 110px;
    
}

.titulo{
    color: #4bd86e;
    font-size: 45px;
    font-weight: bold;
}

.subtitulo{
    color: rgb(70, 70, 70);
}

.container{
    display: flex;
    flex-wrap:wrap;
    width: 250px;
    height:auto;
    margin-bottom: 50px;
  
}

.card{
    display: flex;
    border-radius: 12px;
    background-color: #494949;
    width: 180px;
    height: 290px;
    box-sizing: border-box;
    margin: 20px 5px;
    overflow: hidden; 
    align-items: center;
    padding: 10px;
    transition: 0.4s;
}

.card:hover{
    transform: scale(1.1);
}

.leg{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
}



.sub{
    color: #080808;
    font-weight: bold;
    margin-top: auto;
}

.foto {
    border-radius:100%;
    border:50px;
    width: 120px;
    margin-bottom: 10px;

    
}

.git {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;  
}

.git-icone{
    margin-right: 5px;
    width: 25px;
    height: 25px;
}

.squad {
   text-align: center;
   color: rgb(192, 187, 187);
}

.nome {
    color: #35a350;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    width: 98px;
}

.git-nome {
    color: black;
    font-weight: bold;
    text-decoration: none;

}

.container-cards{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin-left: 30px;
}

#button-prev {
    width: 100px;
    position: fixed;
    left: 5px;
    top: 10px;
}#button-next {
    width: 100px;
    position: fixed;
    right: 5px;
    top: 10px;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
   }
   
   .carousel-control-next-icon {
     background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
   }

   .carousel-control-prev-icon,


   .carousel-control-prev-icon,
   .carousel-control-next-icon {
     height: 50px;
     width: 50px;
     outline: black;
     background-size: 100%, 100%;
     border-radius: 50%;
     background-image: none;
   }
   
   



 